@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-zeronero: "Zeronero"; 
  --font-uniqueen: "Uniqueen";
  --font-cinzel: "Cinzel";
  --font-bodrum: "Bodrum";
  --font-bodoni: "Bodoni";
  --font-nevrada: "Nevrada";
}

@layer base{
    :root {
    --color-*: initial;
    --color-navy: #293949;
    --color-gold:#b9ab9a;
    --color-black:#2F2F30;
    --color-gray:#BCB8B5;
  }
  
  @font-face {
    font-family: 'Zeronero';
    src: url('/public/fonts/zeronero-regular.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Uniqueen';
    src: url('/public/fonts/Uniqueen Bold.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Cinzel';
    src: url('/public/fonts/Cinzel-Regular.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bodrum';
    src: url('/public/fonts/Nodrum.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bodoni';
    src: url('/public/fonts/Bodoni-Bold.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Nevrada';
    src: url('/public/fonts/Nevrada.ttf')  format('truetype');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
  }
}


@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


  /* .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  } */
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
  width:100%;
}

.div-bg{
  background: rgba(3, 27, 36, 0.5);
}

.block{
  margin-left: auto;
  margin-right: auto;
}

#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover
}

.text-header{
 color:#b9ab9a;
}

.img-header{
  filter: invert(76%) sepia(12%) saturate(389%) hue-rotate(353deg) brightness(90%) contrast(88%);
}

.text-sideways {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}